/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background: url('../images/chess1.jpg');
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
     background: #e2a669;
     opacity: 0.9;
     width: 600px;
     color: black;
     padding: 15px;	
}

h1 {
	font-family: 'Lato';
	font-size: 80px;
}

h2 {
	background: #cc6600;
	color: black;
	padding: 5px;
	border-radius: 5px;
}

a{
	color: #506B7E;
	text-decoration: none;
}